<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <header>
      <h2>Mini Message Board</h2>
      <button><a href="/new">New Message</a></button>
    </header>
    <% currentDate = new Date()%>
    <div class="time"><%= currentDate %></div>
    <section>
      <h3>All Messages</h3>
      <% messages.forEach((message) =>{ %>
        <% messageId = message.id%3 %>
        <% if (messageId === 1) messageId = 'one' %>
        <% if (messageId === 0) messageId = 'zero' %>
        <% if (messageId === 2) messageId = 'two' %>
          <article class= "<%= messageId %>">
            <h3><%= message.name %></h3>
            <h4><%= message.message %></h4>
            <h5><%= message.time %></h5>
          </article>
        <%  }) %>
    </section>
  </body>
</html>
